:root {
  /* --red-bg-clr: rgb(172, 152, 152);
  --white-clr: #fff; 
  ad0603
  #b64d4d
  */
  --red-bg-clr: #ad0603;
  --white-clr: #fff;
}

/* Reset and utility */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  background: lightgray;
}

a {
  text-decoration: none;
}

.p-1 { padding: 1rem 0 0 0}

.f-sm-4x { font-size: 0.75rem; }
.f-c-gold {
  color: goldenrod;
}

.btn {
  display: inline-block;
  margin: 1rem;
  padding: 5px 10px;
  background: #fff;
  color: var(--red-bg-clr);
  border-radius: 5px;
}

.pull-right
{
  text-align: right !important;
}

/* Nav Bar */
#navbar {
  background: var(--red-bg-clr);
  display: flex;
}

#navbar .nav-box-1 {
  flex: 1;
}

#navbar .nav-box-2 {
  flex: 4;
  display: flex;
  justify-content: center;
}

#navbar .nav-box-3 {
  flex: 2;
}

#navbar .logo {
  height: 60px;
  padding: 0.5rem;
}


#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
#navbar ul li{
  padding-left: 1rem;
}
#navbar i {
  color: var(--white-clr)
}

#navbar ul li a {
  color: var(--white-clr);
  text-decoration: none;
  padding: 1rem 0;
  margin: 0 0.25rem;
}

#navbar .search-tb{
  height: 35px;
  width: 500px;
  align-self: center;
  border-radius: 10px;
}

#navbar .nav-box-2 i {
  align-self: center;
  margin-left: -30px;
  color: var(--red-bg-clr);
}

/* Cards Container */

#cards-container {
  display: flex;
  margin: auto;
  max-width: 1100px;
  overflow: hidden;
  /* background: rgb(245, 243, 243); */
  flex-wrap: wrap;
}

#cards-container .card {
  flex: 1;
  margin: 1rem;
  padding: 1rem;;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.7);
  background: var(--red-bg-clr);
  opacity: 0.9;
  text-align: center;
  color: #fff;
}

#cards-container .card .item-image{
  width: 50%;
  display: block;
  margin: auto;
}
